{% load static %}     <!-- used to access the static folder  from the portfolio -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

       <!-- Bootstrap CSS -->
         <link href="{% static 'portfolio/custom.css' %}" rel="stylesheet">   <!-- to access the style sheet -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">   <!-- to include google font into the stylesheet-->

        <title> Mathews gregory</title>   <!-- will be shown in the page tab above the screen -->
</head>


<body>
 <div class="container">
    <header id="main-header">
      <div class="row no-gutters">
        <div class="col-lg-4 col-md-5">
          <img src="{% static 'portfolio/image1.jpg' %}" alt="">
        </div>

        <div class="col-lg-8 col-md-7">
          <div class="d-flex flex-column">
            <div class="p-5 bg-dark text-white">
              <div class="d-flex flex-row justify-content-between align-items-center">
                <h1 class="display-4">Mathews Gregory
                </h1>
                  <div>
                    <a  href="https://www.linkedin.com/in/mathews-gregory-595b37116/" class="text-white" >
                      <i class="fab fa-linkedin"></i>
                     </a>
                  </div>
                    <div>
                      <a href="https://github.com/mgrego03?tab=repositories" class="text-white">
                        <i class="fab fa-github"></i>
                      </a>
                    </div>
              </div>
                <div class="row justify-content-end">
                    {% if user.is_authenticated %}
                    <div> <a  class ='mx-2 text-white' href ="{% url 'logout' %}"> Logout</a></div>
                    <div>  <a class ='mx-2 text-white' href ="{% url 'profile' %}"> MyProfile</a></div>
                    {% else %}
                      <a class ='mx-2 text-white' href ="{% url 'register' %}"> Register</a>
                      <a class ='mx-2 text-white' href ="{% url 'login' %}"> Login</a>
                    {% endif %}
                </div>
            </div>

            <div class="p-5 bg-black" >
                Developer with experience in SQL and Django

            </div>



            <div class="the-blocks">
              <div class="d-flex flex-row text-white align-items-stretch text-center">   <!-- stretch , from top to bottom -->
                <div class="port-item p-5 bg-primary" data-toggle="collapse" data-target="#home">
                  <i class="fas fa-home fa-2x d-block"></i>
                 <!-- <span class="d-none d-sm-block #for-home">Home</span>-->
                  <a href ="#" class="d-none d-sm-block"> Home </a>
                </div>
                <div class="port-item p-5 bg-success" data-toggle="collapse" data-target="#resume">
                  <i class="fas fa-graduation-cap fa-2x d-block"></i>
                  <a href ="#" class="d-none d-sm-block"> Resume </a>
                </div>
                <div class="port-item p-5 bg-warning" data-toggle="collapse" data-target="#work">
                  <i class="fas fa-folder-open fa-2x d-block"></i>
                  <a href ="{% url 'project:all_project' %}" class="d-none d-sm-block"> Projects </a>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </header>


     <!-- to display any messages, will the signup message below after successfuly signed up -->
      {% if messages %}

                {% for message in messages %}
                 <div class="alert alert- {{message.tags}}">
                    {{message}}
                 </div>
                {% endfor %}
      {% endif %}




  {% block content %}       <!-- in here it will go back to the html, to check it has any block to put here -->


  {% endblock %}


       <!-- FOOTER -->




      <div class="card border-primary mb-3 bg-dark">
            <div class="card-body">
                <h4 class="card-title">
                 <a class="btn btn-outline-primary"  href ="{% static 'portfolio/Final-2019.docx' %}" >  Download Resume </a>
                </h4>

            </div>
        </div>


  </div>

 <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

 <script>
    $('.port-item').click(function () {
      $('.collapse').collapse('hide');
    });
</script>


</body>
</html>