<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>

<div class="container">
   <div class ='row'>
      <div  class ='col-md-4 offset-md-4'>
          <div class="card">
              <div class ='card-header bg-info text-white'>
                   <div class="card-title">
                       Login
                   </div>
              </div>
              <div class ='card-body'>

                    <form method ='POST'>
                            {% csrf_token %}

                             {{ form }}

                        <!-- the form above , is coming from  authentication_views.LoginView .  ( this is not the registration form)  -->
                        <button  class='btn-primary mt-1' type="submit">Login</button>
                    </form>
              </div>
          </div>
      </div>
   </div>
</div>


</body>
</html>